
.bg-verde {
    background-color: #45B264;
}
.bg-entrar {
    background-color: #FEFFDE;
    border-radius: 20px;
}
.inputs{
    border-radius: 20px;
    border: none;
    background-color: white;
}

.bg-btn-cadastrar{
    background-color: #45B264;
}

.bg-btn-cancelar{
    border-radius: 20px;
    border: none;
    background-color: #E66C1F ;
}

.cadastrar{
    font-weight:900 ;
}

