<div class="detalhe-produto">
    <h1>Produto</h1>
    <div class="descricao" >

        <div class="imagem">
            <!--<img [src]="produto.fotoProduto" alt="">-->
            <img src="https://i.imgur.com/PAwvhOC.png" alt="Imagem do produto">
        </div>

        <div class="conteudo">
            <h5>Nome do produto</h5>
            <p>Categoria</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti in neque esse nostrum molestias, ipsam distinctio pariatur doloribus ex commodi? Quibusdam, neque. Non incidunt, maiores corrupti minus vitae debitis! Voluptatibus!</p>
            <!--<p>{{produto.valorProduto | currency: "BRL"}}</p>-->
            <h6 class="conteudo-valor">R$ 00,00 </h6>
            <button class="btn button-adicionar">Adicionar ao carrinho</button>
        </div>

    </div>
</div>
