.bg-verde {
    background-color: #45B264;
}

#img-bg {
    background-image: url('https://i.imgur.com/qnJmDtt.png');
    min-width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.bg-entrar {
    background-color: #FEFFDE;
    border-radius: 20px;
}
.inputs{
    border-radius: 20px;
    border: none;
    background-color: white;
}

.bg-btn-entrar{
    background-color: #E66C1F;
}