<div class="container- d-flex rodape-custom">

    <div class="row">
        <div class="col-md-3 d-flex justify-content-between img-logo-rodape">
            <img class="img-logo-rodape" src="https://i.imgur.com/qnJmDtt.png" width="100px" height="100px" >
        </div>
    </div>


    <div class="row">
        <div class="col">

        </div>
    </div>

</div>


<div class="container- d-flex rodape-custom-2">

    <div class="row">

        <div class="col-md-12 text-center align-items-center p-0 m-0">
            <h5 class="d-flex justify-content-center align-items-center text-white">2022 Copy Rights: Mangrove <br>
                Projeto desenvolvido sem fins lucrativos para projeto estudantil</h5>


        </div>

    </div>

</div>