.rodape-custom{
    margin: 20px;
    background-color: #45B264;
    border-radius: 20px;
    padding: 80px; 
}

.rodape-custom-2{
    margin: 20px;
    border-radius: 20px;
    padding: 20px; 
    background-color: #E66C1F;
}